{% extends "base.html" %}

{% block content %}

<h1>Harry Morgan</h1>
<h2>Software Engineer // Integration Testing</h2>
<div style="margin-top: 30px;">
    <h3>About Me</h3>
    <p>
        I'm Harry Morgan, I'm currently in the process of finishing up my industrial placement at <a href="https://www.dai.co.uk/" target="_blank">DAI</a>
        where my responsiblities include(d): developing solutions for integration testing, ui, deployment and installation, supporting projects using our tools

    </p>
</div>
{% endblock content %}