<html>
    <head>
          <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css" />
          <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/solarized-dark.css" />
          <link rel="stylesheet" type="text/css" href="style.css" />
          <meta charset="utf-8">
    </head>
    <body class="hack solarized-dark">
        <div class="container">
            <nav>
                <a href="#">Oref</a> |
                <a href="#">Blog</a> |
                <a href="#">Projects</a> |
                <a href="#">Github</a> |
                <a href="#">Twitter</a>
            </nav>
            <div class="content">

            </div>
        </div>
    </body>
</html>
