{% extends "base.html" %}

{% block content %}
    <h2>Projects</h2>
    <ul>
        <li><a href="https://github.com/oref/PyBujo" target="_blank">PyBujo</a>
            Simple terminal notetaking gui built with Python // <a class="downloads">1000+ downloads</a></li>
        <li><a href="{{ url_for('silicon_blood') }}">Silicon Blood</a>
            Classic graphical rogue-like built in Python // <a class="https://discord.gg/NbaXqpu" target="_blank">Discord</a> //
            <a href="https://github.com/oref/SiliconBlood" target="_blank">Github</a></li>

        <li><a href="https://github.com/oref/gif-furious" target="_blank">Gif-Furious</a>
            Customer support solutions designed to be as awful as possible // <a class="downloads"> Manchester Hackathon 2017</a></li>

        <li><a href="https://github.com/oref/MorgansMagicEmporium" target="_blank">Morgans Magic Emporium</a>
            Magic The Gathering e-commerce site built in PHP <a class="downloads"> University Project</a></li>

        <li><a href="https://github.com/oref/termagotchi" target="_blank">termagotchi</a>
            Terminal based world simulation built in Go // <a class="downloads">WIP</a></li>

        <li><a href="#">Energy House Portal</a>
            Web portal for reading data from sensors at UoS' Energy House // <a class="downloads">(private source)</a></li>

        <li><a href="https://github.com/oref/Tracklab">Tracklab</a>
            Web application to track moods and activities // <a class="downloads">Abandoned</a></li>

        <li><a href="https://github.com/oref/site">oref.dev</a>
            This website // <a class="downloads">You are here!</a></li>

    </ul>
{% endblock content %}
